{}"host": "rollbet.gg",
        "path": "",
        "user": "ThunderFlash32",
        "pass": "Hakobyan28"
      },
      {
        "host": "rollbet.gg",
        "path": "",
        "user": "iuhsdabnkdasda",
        "pass": "urmom123"
      },
      {
        "host": "rollbet.gg",
        "path": "",
        "user": "Dylah2000",
        "pass": "DylAntmc09"
      },
      {
        "host": "rollbet.gg",
        "path": "",
        "user": "voitin.saku.airaksnen@gmail.com",
        "pass": "Elokuvga026"
      },
      {
        "host": "rollbet.gg",
        "path": "crossroad",
        "user": "hduhcjnxjnx",
        "pass": "rblx77777"}